{% if  portal.current_page != 'csat_survey' %}
	<header class="banner-custom">
		<div class="banner-wrapper">
			<div class="banner-title container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-sx-12">
                        <div class="d-flex align-items-center">
                            <img src="https://stake-cdn.s3-ap-southeast-2.amazonaws.com/FAQs/logo%402x.png" alt="Logo"  data-type="logo">
                            <span class="ellipsis heading-text">Help center</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-sx-12" >
                        <div class="d-flex align-items-center justify-content-end h100">
                            <a class="bact-btn" href="https://hellostake.com" >Back to Stake</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </header>
<!-- Search and page links for the page -->
{% if portal.current_tab and portal.current_tab != "home" %}
	<section class="help-center-sc rounded-6">	
		<div class="page no-padding">
		<div class="hc-search">
			<div class="hc-search-c">
				{% snippet search_form %}
			</div>
		</div>
		<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">				
			
		</div>
		</div>
	</section>
{% endif %}
{% else %} 
	<header class="banner">
		<div class="banner-wrapper">
			<div class="banner-title">
				{{ portal | logo : true }}
				<h1 class="ellipsis heading">{{portal.name|h}}</h1>
			</div>
		</div>
	</header>
{% endif %}