{{ header }}
<div class="page">
    <!-- Search and page links for the page -->
    {% if portal.current_tab and portal.current_tab == "home" %}
    <div class="container">
        <div class="search-area">
            <h1 class="s-title text-white">How can we help?</h1>
            {% snippet search_form %}
        </div>
    </div>
    {% endif %}
</div>
{% if portal.current_tab and portal.current_tab == "home" %}
<div class="container">
    <section>
        <div class="info-area">
            <div class="row"> 
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000137070" class="box-title">Getting started</h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016330-what-does-macquarie-do-for-stake-/en">What does Macquarie do for Stake?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016430-can-i-open-an-account-in-the-name-of-an-smsf-company-minor-or-trust-/en">Can I open an account in the name of an SMSF, company, minor or trust?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016359-how-do-i-fund-my-account-/en">How do I fund my account?</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000137070">View
                            all</a>
                    </div>
                </div>
                <div class="col-md-4  col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075700" class="box-title">About stake</a></h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000122460-which-countries-can-stake-accept-customers-from-/en">Which countries can Stake accept customers from?</a> </p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000092028-how-we-make-money-/en">How we make money</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016543-can-brokerage-really-be-0-/en">Can brokerage really be $0?</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075700">View
                            all</a>
                    </div>
                </div>
                <div class="col-md-4  col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075666" class="box-title">General </a></h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000023401-the-share-i-want-to-trade-is-not-on-stake-can-i-request-it-/en">The share I want to trade is not on Stake. Can I request it?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016531-can-i-transfer-my-existing-us-shares-to-stake-/en">Can I transfer my existing US shares to Stake?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/support/solutions/35000075665">Reporting & Tax?</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075666">View
                            all</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075670" class="box-title">Trading </a></h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016322-how-is-the-us-tax-w8-ben-w8-ben-e-form-managed-/en">How is the US Tax (W8-BEN / W8-BEN-E) form managed?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016398-who-owns-the-shares-/en">Who owns the shares?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000050986-can-i-trade-inverse-and-leveraged-etfs/en">Can I trade inverse and leveraged ETFs?</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075670">View
                            all</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075690" class="box-title">Pricing </a></h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016418-what-are-the-costs-to-trade-on-stake-/en">What are the costs to trade on Stake?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016420-stake-s-fx-fees/en">Stake's FX fees</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075671">Funding & banking</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075690">View
                            all</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box">
                        <h2><a href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075667" class="box-title">Safety & Security </a></h2>
                        <br>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016319-how-is-stake-and-its-us-partners-regulated-/en">How are Stake and its US partners regulated?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000018526-what-if-stake-was-no-longer-around-/en">What if Stake was no longer around?</a></p>
                        <p><a href="https://stakeshop.freshdesk.com/solution/articles/35000016476-how-does-share-ownership-and-settlement-work-/en">How does share ownership and settlement work?</a></p>
                        <a class="box-href" href="https://stakeshop.freshdesk.com/a/solutions/categories/35000075667">View
                            all</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center space-area">
        </div>
    </section>
</div>

<section>
    <div class="safe-secure">
        <h1 class="s-title">Safe and secure</h1>
        <p class="s-desc-2">Stake uses the best technology and partners <br> to keep your assets and information secure.
        </p>
        <img class="s-img" src="https://stake-cdn.s3-ap-southeast-2.amazonaws.com/FAQs/safe_secure.png" alt="">
    </div>
</section>

<section>
    <div class="need-help">
        <div class="container">
            <div class="contact-row">
                <div class="row">
                    <div class="col-md-6 col-sx-12 col-sm-12">
                        <h1 class="s-title text-center">Still need help?</h1>
                    </div>
                    <div class="col-md-3 col-sx-12 col-sm-12">
                        <div class="c-info">
                            <p class="text-bold">Email us</p>
                            <a href="mailto:support@hellostake.com">support@hellostake.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sx-12 col-sm-12">
                        <div class="c-info">
                            <p class="text-bold">Call us</p>
                            <a href="tel:+61 02 8294 6304">(+44) 20 3871 8600</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="have-stake">
                <img src="https://stake-cdn.s3-ap-southeast-2.amazonaws.com/FAQs/mobile.png" alt="" srcset="">
                <div class="stake-info">
                    <h1 class="s-title">Don’t have Stake?</h1>
                    <p class="s-desc-2">Sign up today and trade up to <br> 3,500+ U.S. stocks and ETFs</p>
                    <button class="get-start-btn mt-5"
                        onclick="window.location.href='https://hellostake.com/get-started'">Get started</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="layout__content">
    <div class="container">
        <div class="container-inner clearfix">

            <!-- Notification Messages -->
            {{ page_message }}
            {% if portal.current_page != "user_signup" and portal.current_page != "submit_ticket" %}
            <div class="c-wrapper">
                {{ content_for_layout }}
            </div>
            {% elsif portal.current_page == "submit_ticket" %}
            <div class="c-wrapper">
                <div class="new_ticket_page">
                    {{ content_for_layout }}
                </div>
            </div>
            {% else %}
            <div class="signup-page">
                <div class="signup-wrapper">
                    {{ content_for_layout }}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endif %}
{{ footer }}